@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
}

.navbar_main {
    background: rgb(22, 82, 240);
}

.nav-link {
    color: rgb(255, 255, 255) !important;
    cursor: pointer !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    text-decoration: none !important;
    margin-left: 1em
}

.navbar-brand {
    color: rgb(255, 255, 255) !important;
    font-size: 25px !important;
    padding-bottom: 0.5em !important;
    margin-left: 6em
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.up_to {
    color: rgb(255, 255, 255);
    padding: 1px;
    border-radius: 3px;
    background: rgb(5, 177, 105);
    width: 120px
}

.get_started {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgb(255, 255, 255);
    width: 120px;
    margin-right: 7em
}
.navbar-toggler {
    background: white !important
}


@media screen and (max-width: 600px) {
    .navbar-brand {
        margin-left: 1em
    }
}